body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background: url('clouds.jpg') no-repeat center center fixed;
  background-size: cover;
  color: #333;
}

body.blurred {
  filter: blur(5px);
}

/* Change lang */

.language-switch {
  position: absolute;
  top: 12px;
  right: 50px;
}

.language-link {
  margin-left: 10px;
  text-decoration: none;
}

.flag-icon {
  font-size: 24px;
  border: 1px solid #007BFF;
  border-radius: 1px;
}

/* Main styles */

.overlay {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  margin: 50px 40px 40px 40px;
  border-radius: 10px;
}

.content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 80vh;
  padding: 20px;
}

.logo img {
  max-width: 450px;
  height: auto;
  display: block;
  margin-bottom: 20px;
  margin-left: 0;
}

/* Navigation */

nav {
  text-align: center;
  margin: 20px 0;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  font-size: 1.2rem;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 1px;
}

nav ul li a:hover {
  color: #007BFF;
}

/* Viewer */

section#about, section#gallery {
  display: none;
}

section#about.active, section#gallery.active {
  display: block;
}

.left-column {
  max-width: 600px;
  padding-right: 40px;
  text-align: justify;
}

.left-column p {
  font-size: 1.2rem;
  color: #666;
}

.left-column p.signature {
  font-family: 'Pacifico', cursive;
  font-size: 2rem;
  color: #007BFF;
  margin-top: 20px;
  text-align: right;
}

.right-column img {
  max-width: 550px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Gallery */

.gallery {
  text-align: center;
  padding: 50px 20px;
}

.gallery-categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.category {
  flex: 1 1 45%;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.category h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.8rem;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 20px;
  border-bottom: 2px solid #007BFF;
  padding-bottom: 10px;
  text-align: center;
}

.gallery-content {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
}

.gallery-item {
  height: 250px;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  display: flex;
}

.gallery-item a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.gallery-item:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.gallery-item img {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
  display: block;
  margin: auto;
  border-radius: 5px;
}

.fancybox-content {
  max-width: 800px;
  max-height: 90vh;
  width: 800px;
  height: auto;
}

.fancybox-image {
  width: 100%;
  height: auto;
}

/* Admin */

.logo-admin {
  height: 150px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 1rem;
}

input[type="text"] {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-style: italic;
  color: #999;
}

.password-container {
  position: relative;
}

.eye-icon {
  position: absolute;
  right: 10px;
  top: 35%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #999;
}

input[type="password"] {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ddd;
  color: #333;
}

input[type="submit"] {
  padding: 10px 20px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 1rem;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}

.alert {
  background-color: #f8d7da;
  color: #721c24;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #f5c6cb;
  text-align: center;
}

.notice {
  background-color: #d4ebd1;
  color: #0d5202;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #b6ccb4;
  text-align: center;
}

/* Admin Panel*/

header.admin-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  box-sizing: border-box;
}

.logo.logo-admin {
  margin-right: 10px;
}

.header-content h1 {
  color: #007bff;
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  letter-spacing: 1.5px;
  text-transform: uppercase;
  background: -webkit-linear-gradient(#007bff, #0056b3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logo-admin img {
  max-height: 150px;
}

/* Admin Sections */

section#admin-gallery,
section#admin-about-me {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  margin: 20px 0;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
}

.admin-gallery-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.admin-section-content {
  padding: 15px;
  background-color: #f9f9f9;
  border-radius: 5px;
  flex: 1;
  min-width: 300px;
}

section#admin-gallery h2,
section#admin-about-me h2 {
  font-size: 1.5rem;
  color: #555;
  margin-bottom: 50px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
}

.admin-dashboard-label {
  display: block;
  margin-bottom: 5px;
  font-size: 1.1rem;
  color: #333;
}

section#admin-gallery .admin-input-field,
section#admin-about-me .admin-input-field {
  width: calc(100% - 20px);
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 25px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

section#admin-gallery .admin-input-field:focus,
section#admin-about-me .admin-input-field:focus {
  border-color: #007bff;
  outline: none;
}

.admin-btn {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin-top: 10px;
}

.admin-btn:hover {
  background-color: #0056b3;
}

.form-photo-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}

.admin-current-photo {
  max-width: 250px;
  border-radius: 5px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  margin-top: 5px;
}

.admin-textarea {
  min-height: 150px;
  height: auto;
  resize: vertical;
}

.flash-notice {
  background-color: green;
  color: white;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
}

.flash-alert {
  background-color: red;
  color: white;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
}

.logout-btn {
  text-decoration: none;
  background-color: #ff4d4d;
  color: #eeeddd;
  font-size: 18px;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, box-shadow 0.3s;
  cursor: pointer;
  float: right;
}

.logout-btn:hover {
  background-color: #e60000;
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
  text-decoration: none;
}